<!-- BANNER -->
<div id="id-banner" class="slider section">
    <ul class="slides white">
      {{#each silderElements as |element| }}
          <li>
              <img class="responsive-img" src={{ element.ImageUrl }}>

              <div class="caption center-align red-text darken-4">
                  <h3 class="">{{element.Title}}</h3>
                  <h5 class="light">{{element.Description_line1}}<br/>{{element.Description_line2}}</h5>
              </div>
          </li>
      {{/each}}
    </ul>
</div>
