{{yield}}
<footer class="page-footer grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4 class="black-text">Meble Sadowscy</h4>
        <h5>Tel: +48787759659
        <br>E-mail: biuro@meblesadowscy.pl
      </h5></div>
      <div class="col l4 offset-l2 s12">
        <p class="black-text">
          <a href="https://www.facebook.com/Meble-Sadowscy-443663819159861/timeline?ref=page_internal">
            <span class="flow-text">Follow as on facebook</span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/200px-Facebook_icon.svg.png" height="100" width="100">
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text darken-1-text">
      © 2014 Copyright Meble Sadowscy
    </div>
  </div>
</footer>
