<div>
    <div id="oferta" class="section container">

        <div class="row">
            <div class="col s12 m6 hoverable">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Architektura ogrodowa<i class="material-icons right">more_vert</i></span>
                    </div>

                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="http://lorempixel.com/540/560/business/">
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><h5 class="center">Architektura ogrodowa</h5><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        <div class="collection light">
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/1" /><span class="title">Drewniane</span>
                            </a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/2" /><span class="title">Ganki</span>
                            </a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/3" /><span class="title">Garaże</span>
                            </a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/4" /><span class="title">Tarasy</span>
                            </a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/5" /><span class="title">Szklarnie</span>
                            </a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/6" /><span class="title">Pergole</span>
                            </a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/7" /><span class="title">Balkony</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 hoverable">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Meble, dzrzwi, schody<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="http://lorempixel.com/540/560/transport/">
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><h5>Meble, dzrzwi, schody</h5><i class="material-icons right">close</i></span>
                        <div class="collection light">
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/8" />Kuchnie</a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/9" />Meble</a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/10" />Meble w zabudowie</a>
                            <a href="#!" class="collection-item waves-effect"><img src="http://lorempixel.com/42/42/business/11" />Schody</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

