<div class="section row">
  {{#each Categories as | productCategory |}}
    <div class="col s12 l6">
      <h4 class="center-align">{{productCategory.name}}</h4>
      {{#each productCategory.productTypes as | productType |}}
        <div class="col l6 m6 s12">{{product-card product=productType}}</div>
      {{/each}}
    </div>
  {{/each}}
</div>
