{{#link-to 'product.show' product.name}}
  <div class="card z-depth-2">
    <div class="card-image hoverable">
      <img class="responsive-img" src="{{product.pictureUrl}}">
      <span class="card-title">{{product.name}}</span>
    </div>
  </div>
{{/link-to}}
