<nav id="home" class="white" role="navigation">
  {{#md-navbar name=menuId class=cssClass }}
    {{#each menuElements as |menuElement| }}
          {{#link-to menuElement.routeName menuElement.menuLink tagName='li' }}
              {{#link-to menuElement.routeName menuElement.menuLink}}
                {{ menuElement.menuLabel }}
              {{/link-to}}
          {{/link-to}}
    {{/each}}
  {{/md-navbar}}
</nav>
