<div class="row containder valign-wrapper ">
  <a class="col s1 l1 m1 btn-floating waves-effect waves-light red"><i class="material-icons mdi-image-navigate-before"></i></a>
  <img class="col l10 m10 s10 responsive-img" src="{{linkToCurrnetImage}}" />
  <a class="col s1 l1 m1 btn-floating waves-effect waves-light red big"><i class="material-icons mdi-image-navigate-next"></i></a>
</div>

{{outlet}}
