<div class="section row">
  <div class="col s12 l12 m12">
    <h4 class="center-align">{{index}}</h4>
    {{#each allReleatedProducts as |item|}}
      <div class="col l4 m6 s12">
        {{product-card link_id=item.id linkName='product.gallery' description=item.Title pictureUrl=item.firstThumbiail }}
      </div>
    {{/each}}
  </div>
</div>
{{outlet}}
