{{#md-modal }}
  <div class="modal-content red accent-1">
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s12 valign center-align">
          {{!-- <h1>{{md-loader mode="circular" size="big"}} Meble Sadowscy {{md-loader mode="circular" size="big"}}</h1> --}}
          <div class="progress">
              <div class="indeterminate"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/md-modal}}
